# Common gitignore flist for react developers

# node_modules is used t save all downloaded packages from npm
# its recommended to do a fresh install with npm install 
# when running the JavaScript project on another computer
# all package details to builf and run are in package.json
node_modules/
.cache/
.DS_STORE
.vscode